@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/sjw1980/randomgroup/" target="_blank">Under MIT License</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>